@base-color: #eee;

body {
  background-color: @base-color;
  //font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  color: #2a2a2a;
  width: 1024px;
  margin: auto;
}

h1 {
  text-decoration-line: underline;
}

#edit {
  width: 100%;
}

#todoList {
  li {
    list-style: none;
  }
  button {
    padding: 1px;
    margin: 1px;
  }
  .done {
    text-decoration: line-through;
  }
}