[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
tox = "*"
pytest = "*"
pytest-sugar = "*"
pytest-coverage = "*"

[packages]
flask = "*"
markdown = "*"
pygments = "*"
gitpython = "*"

[requires]
python_version = "3.7"
