<html>
<head>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='lib/milligram.min.css') }}"/>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='style.less') }}"/>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='lib/monokai.css') }}"/>
    <link rel="shortcut icon" href="{{ favicon|default(url_for('static', filename='favicon.ico'), true) }}">
    <script src="{{ url_for('static', filename='lib/less.3.8.1.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mousetrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/keykeeper.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/accesskey.js') }}"></script>
    {% block additionnal_head %}
    {% endblock %}
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <title>{{ title_prefix }}{{ page.title or title }}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
            {% block todo %}
                <h1>Todo(s)</h1>
                <ul id="todoList">
                </ul>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="column column-75">
            {% block content %}

            {% endblock %}
        </div>
        <div id="sidebar" class="column column-25">
            <input id="searchbox" type="text" placeholder="Search..." accesskey="f" list="pageList"
                   oninput="setPageList(document.getElementById('pageList'))" onchange="window.location.assign(window
                   .location.origin + '/' + this.value)"/>
            <datalist id="pageList"></datalist>
            {% if recent %}
                <h3>Recent</h3>
                <ol id="recentPages">
                    {% for page in recent %}
                        <li><a href="{{ page.relpath[:-3] }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ol>
            {% endif %}
            {% if page.subpages %}
                <h3>Child pages</h3>
                <ul id="childPages">
                {% for child_page in page.subpages %}
                    <li class="childPage"><a href="{{ child_page.relpath[:-3] }}">{{ child_page.title }}</a></li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">window.onload = init;</script>
</body>
</html>