<html>
<head>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='lib/milligram.min.css') }}"/>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='lib/monokai.css') }}"/>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='style.less') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='lib/less.3.8.1.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mousetrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/keykeeper.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/accesskey.js') }}"></script>
    {% block additionnal_head %}
    {% endblock %}
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <title>self.wiki {{ page.title or title }}</title>
</head>
<body>
{% block todo %}
    <h1>Todo(s)</h1>
    <ul id="todoList">
    </ul>
{% endblock %}
{% block content %}

{% endblock %}
<script type="text/javascript">window.onload = init;</script>
</body>
</html>